*, *::before, *::after {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Rubik;
}


.bg-decor-main, .bg-decor-features {
    position: absolute;
    width: 40rem;
    height: 25rem;
    background-color: hsl(231, 69%, 60%);
    z-index: -1; /* Ensures the background is behind other content */
} 

.bg-decor-main{
    right: 0;
    top: 18rem;
    border-radius: 20rem 0 0 20rem;
}

.bg-decor-features{
    left: 0;
    top: 73rem;
    border-radius: 0 20rem 20rem 0;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

ul{
    list-style: none;
    display: flex;
}

p{
    font-size: 1.3rem;
    color: hsl(229, 31%, 21%, 0.6);
}

/* ---------------------- */


header{
    /* width: 100rem; */
    padding: 2rem 2rem;
    /* max-width: 100rem;
    width: 100%; */
    width: clamp(20rem, 80vw, 100rem);
    /* width: 80rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 0.9rem;
}

.toggle-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}

header ul li{
    margin: 0 1rem;
}

header ul li a:hover{
    color: hsl(0, 94%, 66%);
}

.login-btn{
    border: 3px solid hsl(0, 94%, 66%);
    background-color: hsl(0, 94%, 66%);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.login-btn:hover{
    border: 3px solid hsl(0, 94%, 66%);
    background-color: white;
}


/* ------------------------------------------------ */

main{
    width: clamp(20rem, 80vw, 100rem);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    padding: 4rem 0;
    width: 100%;
}

.hero{
    justify-content: space-between;
    align-items: center;
}

.intro-text{
    max-width: 30vw;
    font-size: 1.3rem;
}

.intro-text h1{
    font-size: clamp(0.2rem, 3vw, 4rem);
}

.intro-text p{
    margin: 3rem 0;
}

.browser-buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: clamp(0.3rem, 1vw, 2rem);
}

.browser-buttons a{
    border: 3px solid transparent;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.chrome-btn{
    background: hsl(231, 69%, 60%);
    color: white;
}

.chrome-btn:hover{
    background: white;
    border: 3px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}

.firefox-btn{
    background: hsl(0, 0%, 97%);
    color: black;
}

.firefox-btn:hover{
    background: white;
    border: 3px solid hsl(229, 31%, 21%);
    color: hsl(229, 31%, 21%);
}

.features{
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
}

.section-head{
    font-size: 2.5rem;
}

.section-p{
    text-align: center;
    /* max-width: 33vw; */
    margin: 0;
}

.feature-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(15rem, 80vw, 100rem)
}

.tab-btns{
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.2);
    margin: 1.5rem 0;
}

.tab-buttons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    /* margin-left: 1rem; */
    /* border: 1px solid hsl(229, 31%, 21%); */
    width: 50rem;
    margin: 0;
    font-size: 1.3rem;
}

.tab-buttons li{
    position: relative;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid transparent; */
}

.tab-buttons li:hover{
    color: hsl(0, 94%, 66%);
}

.underline{
    /* position: absolute; */
    background: hsl(0, 94%, 66%);
    height: 3px;
    padding: 0 8rem;
    /* display: none; */
    width: 16rem;
    transition: 0.1s all;
    transform: translateX(0);
    bottom: 0;
}

.feature-tabs{
    display: flex;
}

.feature-tab{
    display: none;
    align-items: center;
    justify-content: space-between;
    width: clamp(20rem, 80vw, 80rem);
}

.feature-tab div{
    max-width: 35rem;
}

.feature-tab div p{
    text-align: start;
    margin: 3rem 0;
}

.more-info-btn{
    border: 3px solid hsl(231, 69%, 60%);
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.more-info-btn:hover{
    border: 3px solid hsl(231, 69%, 60%);
    background-color: white;
    color: hsl(231, 69%, 60%);
}

.active {
    display: flex;
}

/* Extensions */

.extensions{
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin-top: 5rem;
}

.extension-cards{
    display: flex;
    justify-content: space-between;
    width: clamp(15rem, 80vw, 60rem);
    max-height: 80rem;
    height: 30rem;
    margin: 2rem 0;
}

.extension-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2);
    padding: 3rem 1.5rem;
    align-self: center;
}

.extension-card:first-child{
    align-self: flex-start;
}

.extension-card:last-child{
    align-self: flex-end;
}

.extension-card h2{
    margin: 2rem 0 0 0;
}

.extension-card p{
    font-size: 1.1rem;
    margin: 0.7rem 0 3rem 0;
}

.bg-dots{
    position: absolute;
    left: 0;
    right: 0;
    top: 17.5rem;
    width: 100%;
}

.extension-btn{
    border: 3px solid hsl(231, 69%, 60%);
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 8px;
    transition: 0.1s all ease-in-out;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.extension-btn:hover{
    background-color: white;
    color: hsl(231, 69%, 60%);
}

/* FAQ */

.faq{
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: clamp(15rem, 50vw, 50rem);
    margin: 5rem 0;
}

.question{
    position: relative;
}

.separate{
    height: 1px;
    width: 100%;
    background: hsl(229, 31%, 21%, 0.5);
}


.q-btn{
    display: flex;
    justify-content: space-between;
    width: clamp(15rem, 50vw, 45rem);
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    background: transparent;
    z-index: 999;
    
}

.q-btn:hover{
    color: hsl(0, 94%, 66%);
}

.answer{
    display: none;
    /* transform: translateY(-5rem); */
    font-weight: 500;
    width: clamp(15rem, 50vw, 45rem);
    /* max-height: 0; */
    font-size: 1.2rem;
    line-height: 1.7rem;
    z-index: 0;
}

.rotate-arrow{
    transform: rotate(180deg);
}

.active-answer{
    display: block;
}

footer{
    position: relative;
    max-width: 100%;
    width: 100%;
    /* border: 1px solid black; */
    color: white;
}

.footer-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: hsl(231, 69%, 60%);
    padding: 2rem 2rem;
}

.footer-first h3{
    font-weight: 400;
}

.footer-first h1{
    font-size: clamp(0.2rem, 3vw, 4rem);
    max-width: 40rem;
    text-align: center;
}

.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40rem;
    width: clamp(20rem, 80vw, 100rem);
}

.email-pref{
    position: relative;
}

.email-input{
    font-size: 1.3rem;
    padding: 1rem 1.8rem;
    border-radius: 5px;
    border: 4px solid transparent;
}

.error{
    display: none;
    position: absolute;
    right: 10px;
    top: 1.2rem;
}

.error-p{
    display: none;
    font-size: 1rem;
    font-style: italic;
    color: white;
    margin: 0;
    padding: 0 0 0 5px;
    background: hsl(0, 94%, 66%);
    transform: translateY(-5px);

}

.contact-btn{
    border: 4px solid hsl(0, 94%, 66%);
    background-color: hsl(0, 94%, 66%);
    color: white;
    padding: 0.9rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.contact-btn:hover{
    background-color: white;
    color: hsl(0, 94%, 66%);
}

.active-error-border{
    border: 4px solid hsl(0, 94%, 66%);
}

.active-error{
    display: block;
}

/* second footer */

.footer-second{
    background-color: hsl(229, 31%, 21%);
}

@media (max-width: 1400px){

    body{
        display: block;
        margin: 0;
        padding: 0;
    }

    header{
        padding: 4rem 2rem 0rem 2rem;
        margin: 0;
        width: 100%;
    }

    p{
        font-size: clamp(0.8rem, 5vw, 1.3rem);
        text-align: center;
    }

    /* mobile menu */

    .mobile-menu{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1000;
        padding: 4rem 2rem;
        background: hsl(229, 31%, 21%, 95%);
    }

    .mobile-menu-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .close-menu-icon{
        width: 5.5rem;
        height: 5.5rem;
        cursor: pointer;
    }

    .mobile-menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 5rem 0;
    }

    .mobile-menu ul li{
        margin: 1.6rem 0;
        font-size: 1.6rem;
    }

    .mobile-menu ul li a{
        color: white;
        font-weight: 400;
    }

    .mobile-login-btn{
        padding: 0.5rem 30vw;
        border: 3px solid white;
        border-radius: 5px;
    }

    .mobile-menu ul span{
        background: rgb(255, 255, 255, 0.3);
        padding: 0 30vw;
        height: 1px;
    }


    .mobile-socials{
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
    }

    .hide-burger{
        opacity: 0;
    }

    .hide-mobile-menu{
        display: flex;
        cursor: pointer;
    }

    .hide-logo{
        display: none;
    }

    /* ---------------------- */
    
    nav{
        display: none;
    }
    
    .toggle-menu {
        display: block;
        border: none;
        background: none;
    }

    .bg-decor-main, .bg-decor-features{
        /* right: 0; */
        height: 50vw;
        width: 80vw;
    }

    .bg-decor-main{
        top: 13rem;
    }

    .bg-decor-features{
        top: 90rem
    }

    main{
        padding: 0 2rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 2rem 0; */
    }

    .hero{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .hero img{
        width: 100%;
        height: auto;
    }

    .intro-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }

    .intro-text h1{
        font-size: clamp(1rem, 8vw, 4rem);
        margin-bottom: 1rem;
    }

    .intro-text p{
        margin: 1rem 0;
        font-size: clamp(0.8rem, 5vw, 1.3rem);
    }

    .browser-buttons{
        margin: 1rem 0;
    }
    
    .browser-buttons a{
        /* padding: 1rem 5rem; */
        font-size: 1rem;
    }

    /* Features */

    .tab-btns{
        width: 100%;
        border: none;
        display: flex;
        justify-content: center;
    }

    .tab-buttons, .feature-tab{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tab-btn{
        border-bottom: 1px solid hsl(0, 0%, 0%, 0.2);
    }

    .tab-btn-choosen{
        border-bottom: 2px solid hsl(0, 94%, 66%);
    }

    .feature-tab img{
        width: 90%;
        height: auto;
    }

    .section-head{
        font-size: clamp(1rem, 6vw, 4rem);
        text-align: center;
    }


    .feature-tab div h1{
        font-size: clamp(1rem, 7vw, 4rem);
    }

    .feature-tab div p{
        text-align: center;
    }

    .underline{
        display: none;
    }

    .more-info-btn{
        display: none;
    }

    /* extensions */

    .extension-cards{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .extension-card{
        margin: 1rem 0;
    }

    .extension-card:first-child, .extension-card:last-child{
        align-self: center;
    }

    .btn-text-responsive{
        /* font-size: clamp(0.6rem, 1vw, 2rem); */
    }

    /* FAQ */

    .questions, .q-btn, .answer{
        width: clamp(18rem, 55vw, 45rem);
    }


    .q-btn{
        font-size: clamp(0.7rem, 6vw, 1.3rem);
        padding: 1.3rem 0;
    }

    .answer{
        text-align: start;
    }

    .questions.more-info-btn{
        display: block;
    }

    /* footer */

    .footer-first h1{
        font-size: clamp(1rem, 7vw, 4rem);
    }


    .email{
        flex-direction: column;
        height: 10rem;
    }

    .email-pref{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .email-input{
        width: 90%;
    }

    
    .error{
        right: 25px;
    }
    
    .error-p{
        width: 90%;
    }

    .contact-btn{
        padding: 1rem 6rem;
    }
}